.site-header-phone,
.site-header-mobile-phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--neutral-900);
}

.site-header-phone {
  font-size: 0.875rem;
}

.site-header-phone .icon-glyph {
  font-size: 1rem;
}

.site-header-mobile-phone {
  font-size: 1rem;
}

.site-header-mobile-phone .icon-glyph {
  font-size: 1.25rem;
}
